* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Cinzel', serif;
}

body {
  background-color: #0f0f0f;
}

nav > ul {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  background-color: #1a1a1a;
}

nav > ul > li {
  width: 120px;
  height: 30px;
  background-color: #2d2d2d;
  border-radius: 4px;
}

nav > ul > li:hover,
nav > ul > li:focus {
  background-color: #3d3d3d;
  border-color: #8b7355;
}

nav > ul > li > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}

main {
  width: 100%;
  min-height: calc(100vh - 50px  - 100px);
  padding-inline: 50px;
  padding-block: 25px;
  margin-inline: auto;
  background-color: #252525;
  color: #e8e4df;
}

main > h1 {
  margin-block: 15px;
  font-family: 'Cinzel Decorative', serif;
  color: #c9a227;
  font-weight: 400;
}

main > h1:first-of-type {
  margin-top: 0;
}

footer {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  color: #a0a0a0;

}

footer > p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}
